.facility-employees__actions {
  margin-top: 1rem;
  display: flex; }

.facility-employees__save {
  margin-left: auto; }

.facility-employees__hours {
  width: 4rem; }

.facility-employees__date-range {
  display: flex; }
