$brand-primary: #257bd4;

.header {
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: white;
    border-bottom: solid 2px $brand-primary;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .45);
    text-decoration: none;
    color: #145fac;

    .logo-container {
        text-align: center;
        margin: .25rem auto;
        font-weight: 700;
        letter-spacing: .5px;

        .home-logo {
            height: 35px;
            margin-right: .5rem;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
}

body {
    margin-top: 60px;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25px;
}

/* pending approvals */
.pending-label-count {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.pending-card {
    margin: 0 auto 1.5rem;
    width: calc(100% - 1rem);
    border-top: solid 5px $brand-primary;
    box-shadow: 0px 0px 3px rgba(0,0,0,.25);

    .card-title {
        font-weight: bold;
        letter-spacing: .5px;
        margin-bottom: 0;
    }

    .pending-card__date-range {
        font-size: .85rem;

        .bi {
            margin-right: .5rem;
        }
    }

    .card-text {
        margin-top: 1rem;
    }
}

.pending-card__actions {
    display: flex;
    justify-content: flex-end;

    .btn-outline-primary {
        margin-left: .5rem;
    }

    .show-more {
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.pending-details {
    list-style: none;
    padding: 0;

    .pending-details__value {
        font-weight: 100;
    }
}

.employee-details {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin-bottom: 1rem;

    .pending-details__value {
        font-weight: 100;
    }

    .bi {
        margin-right: .5rem;
    }
}

.managers-comment {
    margin-bottom: 1.5rem;
}

.home-actions {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    a {
        margin-bottom: .5rem;
    }

    .btn-danger {
        margin-top: 5rem;
    }
}

