$brand-primary: #257bd4;

.header {
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: white;
    border-bottom: solid 2px $brand-primary;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .45);
    text-decoration: none;
    color: #145fac;

    .logo-container {
        text-align: center;
        margin: .25rem auto;
        font-weight: 700;
        letter-spacing: .5px;

        .home-logo {
            height: 35px;
            margin-right: .5rem;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
}

body {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25px;
    background-color: #252528;
    color: white;
}

.home-logo,
.project-name {
    max-width: 20rem;
    display: block;
    margin: 0 auto;
}

.collection-selector {
    display: flex;
    align-items: center;
}

.collection-name {
    padding-left: 1rem;
}

.project-name {
    text-align: center;
    margin-bottom: 3rem;
}

.links-container {
    max-width: 30rem;
    margin: 0 auto;
}

.link {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.spreadsheet-link {
    text-align: center;
    margin-top: 5rem;
}

.form-select {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border: solid 1px black;
    outline: none;
}